# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Node.js Abhängigkeiten ---
node_modules/
npm-debug.log

# --- Umgebungsvariablen (Sehr wichtig für die Sicherheit!) ---
.env
.env.local
.env.*.local

# --- Frontend Build-Dateien (brauchen wir später für Vue/Vite) ---
dist/
dist-ssr/

# --- Betriebssystem-Müll ---
.DS_Store
Thumbs.db