# Dies ist eine Vorlage. 
# Kopiere diese Datei auf einem neuen Gerät, nenne sie .env und trage deine echten Werte ein!

PORT=5000
# Trage hier deinen lokalen oder Atlas MongoDB-String ein
MONGO_URI=mongodb://127.0.0.1:27017/timeforsupps
# Den JWT_SECRET brauchen wir im nächsten Schritt für den Login
JWT_SECRET=dein_geheimer_schluessel_hier